@font-face {
   font-family: 'Firialta';
   font-style: normal;
   font-weight: 200;
   src: local('Nunito Sans ExtraLight'), url('../fonts/NunitoSans-ExtraLight.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: italic;
   font-weight: 200;
   src: local('Nunito Sans ExtraLight Italic'), url('../fonts/NunitoSans-ExtraLightItalic.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: normal;
   font-weight: 300;
   src: local('Nunito Sans Light'), url('../fonts/NunitoSans-Light.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: italic;
   font-weight: 300;
   src: local('Nunito Sans Light Italic'), url('../fonts/NunitoSans-LightItalic.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: normal;
   font-weight: 400;
   src: local('Nunito Sans Regular'), url('../fonts/NunitoSans-Regular.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: italic;
   font-weight: 400;
   src: local('Nunito Sans Italic'), url('../fonts/NunitoSans-Italic.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: normal;
   font-weight: 600;
   src: local('Nunito Sans SemiBold'), url('../fonts/NunitoSans-SemiBold.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: italic;
   font-weight: 600;
   src: local('Nunito Sans SemiBold Italic'), url('../fonts/NunitoSans-SemiBoldItalic.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: normal;
   font-weight: 700;
   src: local('Nunito Sans Bold'), url('../fonts/NunitoSans-Bold.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: italic;
   font-weight: 700;
   src: local('Nunito Sans Bold Italic'), url('../fonts/NunitoSans-BoldItalic.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: normal;
   font-weight: 800;
   src: local('Nunito Sans ExtraBold'), url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: italic;
   font-weight: 800;
   src: local('Nunito Sans ExtraBold Italic'), url('../fonts/NunitoSans-ExtraBoldItalic.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: normal;
   font-weight: 900;
   src: local('Nunito Sans Black'), url('../fonts/NunitoSans-Black.woff') format('woff');
}

@font-face {
   font-family: 'Firialta';
   font-style: italic;
   font-weight: 900;
   src: local('Nunito Sans Black Italic'), url('../fonts/NunitoSans-BlackItalic.woff') format('woff');
}